<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      iseeyou.chenshouzhe.com
      
      <script>
!(function(c,b,d,a){c[a]||(c[a]={});c[a].config=
  {
    pid:"i207rzzm61@6b7c3bb01327046",
    appType:"web",
    imgUrl:"https://arms-retcode.aliyuncs.com/r.png?",
    sendResource:true,
    enableLinkTrace:true,
    behavior:true,
    enableSPA:true,
    useFmp:true,
    enableConsole:true
  };
with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
})(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
</script>
    </div>
  </div>
  <script>
  throw(new Error());
  throw('error text')
  </script>
</footer>
